<!DOCTYPE html> 
<html ng-app="timeClockApp"> 
<head> 
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Time Clock</title>
</head> 

<body ng-controller="ClockController" ng-cloak>
	<div class="mainRapper">

		<div class="imgContainer"><img class="profileImg" src="{{googleDataImg}}"/></div> 
		<div class="displayName">{{googleDataName}}</div> 



		<button class="inButton" type="submit">Clock In</button>


		<div class="liveTime">
			<h1>The current time is</h1> 


		</div> 
		 

<!-- 
		<div>{{data}}</div> 
--> 

<!--
		<div ng-repeat="employee in data">
			<h3>{{employee.firstName + " " + employee.lastName}}</h3> 
			<p ng-repeat="hours in employee.timeLog">{{hours.clockOut - hours.clockIn}} ms on {{hours.date}}</p>
		</div> 
-->

	</div> 

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script> 

	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>


	<script src="js/app.js"></script> 
	<script src="js/controller.js"></script> 
	<script src="js/service.js"></script>  
</body> 
</html> 



