<!DOCTYPE html> 
<html ng-app="timeClockApp"> 
<head> 
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Time Clock</title>
</head> 

<body ng-controller="ClockController">
	<div class="mainRapper">
		<div><img class="profileImg" src="{{googleData}}"/></div> 

		<div ng-repeat="employee in data">
			<h3>{{employee.firstName + " " + employee.lastName}}</h3> 
			<p ng-repeat="hours in employee.timeLog">{{hours.clockOut - hours.clockIn}} ms on {{hours.date}}</p>
		</div> 


	</div> 

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script> 

	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>


	<script src="js/app.js"></script> 
	<script src="js/controller.js"></script> 
	<script src="js/service.js"></script>  
</body> 
</html> 