body{
	background: #2D534F;
	font-family: Helvetica, Arial, sans-serif; 
	color: #000;
}

.mainRapper{
	width: 80%; 
	margin: 40px auto 0 auto;
	background: white;
	padding: 20px; 
	border-radius: 5px;
}

.imgContainer{
	width: 100%;
	margin-top: 20px;
}

.profileImg{
	width: 60px; 
	border-radius: 50%; 
	display: block;
	margin: 0 auto;	
}

.displayName{
	font-size: 1.5em; 
	font-weight: bold; 
	width: 100%; 
	text-align: center; 
	margin: 20px 0; 
}