




body{
	background: #1f3c39;  /* old #2D534F */
	font-family: Helvetica, Arial, sans-serif; 
	color: #000;
}

.mainRapper{
	width: 80%; 
	margin: 40px auto 0 auto;
	background: white;
	padding: 20px; 
	border-radius: 5px;
}

.imgContainer{
	width: 100%;
	margin-top: 20px;
}

.profileImg{
	width: 60px; 
	border-radius: 50%; 
	display: block;
	margin: 0 auto;	
}

.displayName{
	font-size: 1.5em; 
	font-weight: bold; 
	width: 100%; 
	text-align: center; 
	margin: 20px 0; 
}

.inButton{
	display: block;
	margin: 0 auto;
	width: 250px;
	padding: 15px 0; 
	background: #0E9E82;
	border-radius: 5px; 
	border: 0; 
	color: white; 
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: 100; 
	font-size: 1.5em; 
}


.liveTime{
	width: 100%; 
	text-align: center; 
	margin: 40px 0;
	font-size: 1em;
	font-weight: 200;
}

.timeHead{
	color: black;
}

.currentTime{
	margin-top: 8px;
	color: red;
}

.pastDaysRapper{
	margin-top: 80px;
}

.pastDays{
	text-align: center;
	margin: 20px; 
}

.title{
	text-align: center;
	font-weight: bold;
}

@media (min-width: 700px){

.mainRapper{
	width: 40%; 
}


}


